<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/books/upload" enctype="multipart/form-data">
    <!--    <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">-->
<!--    <label>-->
<!--        File title : <input type="text" name="title">-->
<!--    </label>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label>-->
<!--        Description : <input type="text" name="desc">-->
<!--    </label>-->
<!--    <br>-->
<!--    <br>-->
    <label>
        Choose file : <input type="file" name="file" multiple="multiple">
    </label>
    <br>
    <br>
    <button type="submit">Upload</button>
</form>
</body>
</html>